body{
    background-color: #101010;
}
main{
    padding: 0 10% 0 10%;
}
.navbar{
    background-color: #101010;
    padding-top: 30px;
}
.about__section{
    max-width: 100%;
    height: auto;
}


.title__section{
    padding: 150px 0 150px 0;
    text-align: center;
    flex-direction: column;
}


.meet-founder__section{
    flex-direction: row;
}
.founder__image-container, .founder__text-container{
    width: 50%;
    height: 100%;
}
.founder__img{
    width: 100%;
    height: auto;
    object-fit: cover;
}



.process__section{
    padding: 150px 0 150px 0;
    text-align: center;
    flex-direction: column;
}
.process__title-container{
    margin-bottom: 70px;
}
.process__item{
    width: 80%;
    height: auto;
    flex-direction: row;
    margin-bottom: 50px;
    gap: 30px;
}
.process__item-number{
    height: 100%;
    width: auto;
    padding: 20px;
    color: #c4c4c4;
}
.process__item-desc{
    height: 100%;
    min-width: 500px;
    text-align: left;
    border: 1px solid #333;
    border-radius: 12px;
    padding: 10px;
}
.process-desc p{
    margin-top: 20px;
    color: grey;
}

@media (max-width: 768px) {
    .title{
        padding: 100px 0 100px 0;
    }
    .meet-founder-container{
        flex-direction: column;
    }
    .meet-founder{
        width: 100%;
    }
    .founder-image-container{
        width: 100%;
    }
    .process-item{
        flex-direction: column;
        gap: 0px;
    }
    .process-number{
        font-size: 2rem;
    }
    .process-desc{
        min-width: 300px;
    }
}