body{
    background: rgb(16,16,16);
    background: linear-gradient(180deg, rgba(16,16,16,1) 0%, rgb(33, 33, 33) 100%);}
main{
    padding: 0 10% 0 10%;
}
p{
    font-size: 1.2rem;
}


.navbar{
    background-color: #101010;
    padding-top: 30px;
}
.navbar__links{
    background-color: #101010;
}

.title-text{
    font-size: 42px;
    font-weight: bold;
}
.title-subtitle{
    font-size: 18px;
    color: #cecece;
    line-height: 1.8;
    margin: 20px auto;
}

.title__section{
    max-width: 100%;
    text-align: center;
    padding: 150px 0px 60px 0;
}


.founder__section {
    gap: 40px;
    text-align: center;
}
.founder__text p{
    text-align: left;
}


.process__section{
    padding: 100px 0 150px 0;
    text-align: center;
    flex-direction: column;
}
.process__title-container{
    margin-bottom: 70px;
}
.process__item{
    width: 80%;
    height: auto;
    flex-direction: row;
    margin-bottom: 50px;    
}
.process__item-number{
    height: 100%;
    width: auto;
    padding: 20px;
    color: #c4c4c4;
    font-size: 3.3rem;
}
.process__item-desc{
    height: 100%;
    width: 500px;
    text-align: left;
    border: 1px solid #333;
    border-radius: 12px;
    padding: 20px 10px;
}
.process__item-desc p{
    margin-top: 20px;
    color: grey;
}

@media (max-width: 768px) {
    .founder__section{
        flex-direction: column-reverse;
        width: 100%;
    }
    .founder__text p{
        text-align: center;
    }
    .process__section{
        padding: 50px 0 100px 0;
        margin: 0 0 0 0;
    }
    .process__item-desc{
        width: 400px;
    }
    .process__item-desc h3{
        font-size: 1.5rem;
    }
    .process__item-desc p{
        font-size: 1rem;
    }
}