.features__section{
    padding: 100px 100px 0;
    background-color: #101010;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features__text-container{
    height: auto;
    width: auto;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.features__text-container h2{
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: #ddd;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
}
.features__text-container h4{
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: #ddd;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
}
.features__text-container p{
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    color: #d9d9d9;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    width: 50%;
}
.features__grid{
    padding: 0 0 50px 0;
    height: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.features__grid-item{
    gap: 20px;
    margin-top: 60px;
    height: 100px;
}
.features__grid-item-img-container{
    background-color: #FFFFFF;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}
.features__grid-item:hover > .features__grid-item-img-container{
    box-shadow: -6px 6px 0px 0px #0C99D3;
}
.features__grid-item:hover > .features__grid-item-text p{
    margin-left: 10px;
}
.features__grid-item img{
    height: 80%;
    filter: invert(55%) sepia(0%) saturate(0%) hue-rotate(137deg) brightness(90%) contrast(77%);
}
.features__grid-item-text{
    width: 50%;
}
.features__grid-item-text h5{
    font-size: 16px;
    font-weight: 500;
}
.features__grid-item-text p{
    font-size: 14px;
    font-weight: 300;
    color: #B0B0B0;
    transition: 0.3s ease-in-out;
}
